// VARIABLES
$rouge-atelier: #ff2601;
$bleu-atelier: #3E4C8E;
$vert-atelier: #9FC65E;
$jaune-atelier: #EE9F3F;

$rouge-atelier-transparent: rgba(255, 35, 1, 0.4);
$bleu-atelier-transparent: rgba(62, 78, 142, 0.4);
$vert-atelier-transparent: rgba(160, 198, 94, 0.4);
$jaune-atelier-transparent: rgba(238, 156, 63, 0.4);

$rouge-atelier-transparent1: rgba(255, 35, 1, 0.6);
$bleu-atelier-transparent1: rgba(62, 78, 142, 0.6);
$vert-atelier-transparent1: rgba(160, 198, 94, 0.6);
$jaune-atelier-transparent1: rgba(238, 156, 63, 0.6);

$rouge-atelier-transparent2: rgba(255, 35, 1, 0.8);
$bleu-atelier-transparent2: rgba(62, 78, 142, 0.8);
$vert-atelier-transparent2: rgba(160, 198, 94, 0.8);
$jaune-atelier-transparent2: rgba(238, 156, 63, 0.8);

$white-atelier-transparent-small: rgba(255, 255, 255, 0.89);

$white-home-transparent: rgba(255, 255, 255, 0.3);

$white-home-carte-transparent: rgba(255, 255, 255, 0.5);

$home-button-pad: 0.5em;

$home-services-margin: 1.5em 0em;

$home-services-border-radius: 3px;

$simple-border-radius: 5px;

$strong-letters-BR: 3px;
